<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tempo">
      <fa-icon [icon]="icons.weather"></fa-icon>
      <ion-label>Tempo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <fa-icon [icon]="icons.winds"></fa-icon>
      <ion-label>Vento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <fa-icon [icon]="icons.map"></fa-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configs">
      <fa-icon [icon]="icons.gear"></fa-icon>
      <ion-label>Opções</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
