<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      <fa-icon [icon]="icons.drone"></fa-icon>
    </ion-title>
    <ion-title>UAV Fly Drone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <h1 class="ion-text-center">Bom para voar.</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="4">
        <ion-card>
          <ion-card-content class="justify-content-center align-items-center">
            <h2>Clima:</h2>
            <h1 class="ion-text-center">
              <fa-icon [icon]="icons.sun" style="font-size: 49px;"></fa-icon>
              <h1 class="ion-text-center">16º</h1>
              <h1 class="ion-text-center">Ensolarado</h1>
            </h1>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6" size-sm="6" size-md="4">
        <ion-card>
          <ion-card-content>
            <h2>Dir. vento:</h2>
            <h1 class="ion-text-center ion-padding-top">
              <app-vento #vento></app-vento>
            </h1>
<!--            <ion-range min="0" max="360" (ionChange)="changeCompassDirection($event)"></ion-range>-->
<!--            <ion-range min="0" max="360" (ionChange)="changeWindDirection($event)"></ion-range>-->
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size="6" size-sm="6" size-md="4">
        <ion-card>
          <ion-card-content>
            <h2>Sol:</h2>
            <h1 class="ion-text-center">
              <fa-icon [icon]="icons.up"></fa-icon>
              06:40
            </h1>
            <h1 class="ion-text-center">
              <fa-icon [icon]="icons.down"></fa-icon>
              17:56
            </h1>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h2>Temperatura:</h2>
            <h1 class="ion-text-center">16º</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h2>Vento:</h2>
            <h1 class="ion-text-center">11 km/h</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h2>Rajadas:</h2>
            <h1 class="ion-text-center">24 km/h</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h2>Visibilidade:</h2>
            <h1 class="ion-text-center">16 km/h</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-content>
            <h2>Sat. disponiveis:</h2>
            <h1 class="ion-text-center">15</h1>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        ion-col
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
